body
{
    font-family: sans-serif;
    margin: 0;
}


.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.box
{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button
{
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
}